.introdução{
    background-color: #AC0C0C;
    color:#FBFADF;
    font-size: 70%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

#logo{
    width: 20%;
    height: auto;
}
    

.ingredientes{
    text-decoration: none;
    font-size: 30%;
    display: flex;
    color: #AC0C0C;
    flex-direction: column
    
}

.ingredientes h1{
    font-size: larger;
}

.travessa {
  display: flex;            
  justify-content: center;  
  gap: 20px;                
  margin-top: 20px;
}

.receita {
  text-align: center;  
  display: flexbox;    
}

.receita img {
  width: 200px;   
  height: auto;
  border-radius: 10px; 
}

