

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff8f0;
  color: #333;
  line-height: 1.6;
}


header {
  width: 100%;
  background-color: #AC0C0C;
  color: #FBFADF;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 7%;
  height: auto;
}


.receita-principal {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.receita-principal h1 {
  text-align: center;
  color: #AC0C0C;
  margin-bottom: 20px;
}

.imagem-receita {
  display: block;
  max-width: 600px;
  width: 100%;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
}


.ingredientes, .modo-preparo {
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  background-color: #ffe5e5;
}

.ingredientes h2, .modo-preparo h2 {
  color: #AC0C0C;
  margin-bottom: 10px;
}

.ingredientes ul, .modo-preparo ol {
  padding-left: 20px;
}

footer {
  background-color: #AC0C0C;
  color: #FBFADF;
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
  font-size: 0.9rem;
}

