.introdução{
    background-color: #AC0C0C;
    color:#FBFADF;
    font-size: 70%;
    height: 100%;
    width: 100%;
}
.travessa{
    text-decoration: none;
    color: #F5F883;
}

.ingredientes{
    text-decoration: none;
    font-size: 30px;
    display: flex;
    
}

.ingredientes h1{
    font size 60px
}
